@import '../../../style/vars';

.cuisine_container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $fontLifehackRegular;
}

.back_button_cuisine {
  display: inline-block;
  width: 50px;
  text-decoration: none;
  text-align: center;
  color: $header-background-color;
  font-size: 24px;
  font-weight: bolder;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.back_button_cuisine:hover {
  background: $header-background-color;
  color: #fff;
}

.cuisine_h1 {
  text-align: center;
  color: $header-background-color;
}

.cuisine_images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 10px;
}

.card_container {
  position: relative;
}

.card {
  width: 100%;
  height: 340px;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_front {
  background-color: $header-background-color;
}

.card_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: $header-background-color;
  transform: rotateY(180deg);
}

.flipped .card {
  transform: rotateY(180deg);
}

.cuisine_image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Сохраняет пропорции изображения */
  border-radius: 8px;
}

.cuisine_image:hover {
  box-shadow: 0 4px 30px  $header-background-color;
}

.recipe {
  font-size: 12px;
  font-weight: bolder;
  line-height: 1.5;
  color: #333;
}

@media (max-width: 1440px) {
  .cuisine_images {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 360px;
  }
}

@media (max-width: 1040px) {
  .cuisine_images {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .cuisine_container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cuisine_images {
    grid-template-columns: 1fr;
  }
  .card {
    width: 500px;
    margin-left: 20%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .cuisine_images {
    grid-template-columns: 1fr;
  }

  .card {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .cuisine_images {
    grid-template-columns: 1fr;
  }
  .card {
    height: 450px;
  }
}
