.sabantuy__blocks {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  gap: 20px;
  width: 40%;
}

.cover__image {
  object-fit: cover;
  width: 100%;
}

.card {
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  border: 5px solid #ccc;
  border-radius: 10px;
  text-decoration: underline blue;
  transform: scale(1.1);
  .card__title {
    color: blue;
  }
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  color: black;
}

.card__link {
  text-decoration: none;
}

@media (max-width: 375px) {
  .card__title {
    font-size: 15px;
  }
}
