.sabantuy__blocks {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  width: 70%;
}

.cover__image {
  object-fit: cover;
  width: 100%;
}

.card {
  margin: 0 auto;
  width: 30%;
  border: 3px solid #ccc;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  text-decoration: underline blue;
  transform: scale(1.1);
  .card__title {
    color: blue;
  }
}

.card__title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  color: black;
}

.card__link {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .card {
    width: 30%;
  }

  .card__title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 40%;
  }

  .card__title {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .card {
    width: 50%;
  }

  .card__title {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .card {
    width: 80%;
  }

  .card__title {
    font-size: 14px;
  }
}
