.sabantuy__blocks {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  width: 70%;
}

.cover__image {
  object-fit: cover;
  width: 100%;
}

.card {
  transition: transform 0.7s ease-in-out;
}

.card:hover {
  text-decoration: underline blue;
  transform: scale(1.1);
  .card__title {
    color: blue;
  }
}

.card__title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  color: black;
}

.card__link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .card__title {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .card__title {
    font-size: 14px;
  }
}
