@import "../../style/vars";

.document {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 100%;
  height: 500px;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: $fontLifehackRegular;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $header-background-color #e0e0e0;
  animation: appearance 0.5s ease-in-out;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.titul {
  display: flex;
  flex-direction: column;
  gap: 150px;
  border-bottom: 1px solid $header-background-color;
}
.text {
  font-weight: 400;
  font-size: 24px;
  text-align: start;
  color: black;
  @media (max-width: 1440px) {
    font-size: 22px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 375px) {
    font-size: 18px;
  }
}
.header__text_item{
    font-weight: 400;
    font-size: 24px;
    text-align: start;
    color: black;
    @media (max-width: 1440px) {
      font-size: 22px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
}
.header__first {
  display: flex;
  justify-content: space-between;
}
.header__text {
  font-weight: 600;
  font-size: 24px;
  @media (max-width: 1440px) {
    font-size: 22px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 375px) {
    font-size: 18px;
  }
}
.header__textblock {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.close_button {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: $header-background-color;
  font-size: 24px;
  font-family: $fontLifehackRegular;
  font-weight: bolder;
  background: $body-background-color;
  border-radius: 2px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close_button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px $header-background-color;
}
.main__textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__text{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: black;
    @media (max-width: 1440px) {
      font-size: 22px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 375px) {
      font-size: 18px;
    }
}
.main__title {
  font-weight: 600;
  font-size: 36px;
  @media (max-width: 1440px) {
    font-size: 32px;
  }
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 375px) {
    font-size: 24px;
  }
}
.footer__textblock {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.chapter {
  font-size: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $header-background-color;
  text-align: center;
  color: $header-background-color;
}
.chapter__button {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: $header-background-color;
  font-size: 30px;
  font-family: $fontLifehackRegular;
  background: $body-background-color;
  border: none;
  cursor: pointer;
  @media (max-width: 1440px) {
    font-size: 28px;
  }
  @media (max-width: 768px) {
    font-size: 24px;
  }
  @media (max-width: 375px) {
    font-size: 22px;
  }
}
.chapter__button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}
.footer__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.chapter__item {
  color: black;
  list-style-type: square;
  font-size: 24px;
  @media (max-width: 1440px) {
    font-size: 22px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 375px) {
    font-size: 18px;
  }
}
.chapter__numberitem {
  color: black;
  font-weight: 400;
  font-size: 24px;
  text-align: start;
  @media (max-width: 1440px) {
    font-size: 22px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 375px) {
    font-size: 18px;
  }
}
