.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
  padding: 6vw 0;
  max-width: 1200px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 720px) {
  .content__outer {
    grid-template-columns: 1.5fr 1fr;
  }
}
@media (max-width: 574px) {
  .content__outer {
    display: flex;
  }
}
.content__title {
  max-width: 635px;
  padding-bottom: 24px;
  font-family: "Lifehack Sans Regular";
  font-size: 50px;
  font-weight: 700;
  color: #39a4a6;
}
@media (max-width: 1440px) {
  .content__title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .content__title {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  .content__title {
    font-size: 24px;
  }
}
.content__name {
  max-width: 635px;
  padding-bottom: 24px;
  font-family: "Lifehack Sans Regular";
  font-weight: 600;
  font-size: 24px;
  color: black;
}
@media (max-width: 768px) {
  .content__name {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .content__name {
    font-size: 18px;
  }
}
.content__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  font-family: "Lifehack Sans Regular";
  font-weight: 400;
  font-size: 24px;
  color: black;
}
@media (max-width: 1440px) {
  .content__contacts {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .content__contacts {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .content__contacts {
    font-size: 18px;
  }
}
.content__contacts_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}
.content__contacts_dataname {
  font-weight: bolder;
}
.content__charter {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
@media (max-width: 1440px) {
  .content__charter {
    gap: 40px;
  }
}
.content__charter_btn {
  display: flex;
  width: 250px;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Lifehack Sans Regular";
  font-size: 24px;
  color: white;
  text-align: center;
  border-radius: 9px;
  background: #39a4a6;
  border: 2px solid #39a4a6;
  cursor: pointer;
  transition: 0.4s;
}
.content__charter_btn:hover {
  box-shadow: 7px 5px 56px -14px #39a4a6;
}
.content__charter_btn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #39a4a6;
}
@media (max-width: 1440px) {
  .content__charter_btn {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .content__charter_btn {
    width: 200px;
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .content__charter_btn {
    font-size: 18px;
  }
}
.content__charter_name {
  font-weight: bolder;
}
.content__charter_icon {
  width: 30px;
  height: 30px;
}

.link {
  color: black;
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pictures__img {
  width: 100%;
  height: auto;
  max-height: 80%;
  animation: pulse 2s infinite;
}
@media (max-width: 524px) {
  .pictures {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=Contacts.module.css.map */