@import "../../style/vars";

.container {
	width: 90%;
	max-width: 800px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px
		5px
		rgb(83, 83, 80);
	border-radius: 10px;
	color: $header-text-color;
	position: relative;
	background-color: $header-background-color;
	font-family: $fontLifehackRegular;
}

.form {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin-bottom: 40px;
	@media (max-width: 768px) {
		gap: 15px;
		margin-bottom: 30px;
	}
	@media (max-width: 480px) {
		max-width: 90%;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	@media (max-width: 700px) {
		width: 90%;
	}
}
.header {
	margin-top: 150px;
	margin-bottom: 10px;
	font-family: $fontLifehackRegular;
	align-self: center;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 40px;
	@media (max-width: 480px) {
		margin-top: 90px;
	}
}
.input__wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 20px 20px;
	grid-template-areas:
		"error error"
		"email input"
		"email input";
	gap: 10px;

	@media (max-width: 480px) {
		width: 100%;
	}
}

.label {
	justify-self: start;
	grid-area: email;
	font-size: 23px;
}

.input {
	grid-area: input;
	border: 1px solid
		#ccc;
	width: 97%;
	height: 30px;
	border-radius: 10px;
	outline: none;
	font-family: $fontLifehackRegular;
	font-size: 25px;
	padding-left: 15px;

	&::placeholder {
		font-family: $fontLifehackRegular;
		font-size: 25px;
	}
}

.input__empty {
	width: 97%;
	height: 30px;
	border-radius: 10px;
	border: 1px solid
		$header-text-color;
	outline: none;
	font-family: $fontLifehackRegular;
	font-size: 25px;
	padding-left: 15px;

	&::placeholder {
		font-family: $fontLifehackRegular;
		font-size: 25px;
	}
}
.input:focus::placeholder,
.input__empty:focus::placeholder {
	opacity: 0;
}

.error {
	grid-area: error;
	margin-left: 20%;
	font-size: clamp(
		18px,
		3vw,
		20px
	);
	color: red;
	white-space: nowrap;
}
.restore__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	font-size: 15px;
}
.restore__link {
	color: rgb(
		224,
		194,
		27
	);
	display: flex;
	flex-direction: row;
	text-decoration: none;
}
.restore__link:hover {
	transform: scale(
		1.05
	);
	transition: all
		0.3s ease-in-out;
	text-decoration: none;
}
.button__container {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: center;
}
.button__submit {
	width: 100%;
	max-width: 200px;
	height: 45px;
	margin-top: 10px;
	background-color: transparent;
	border: 2px solid
		$header-text-color;
	border-color: $fontLifehackRegular;
	border-radius: 10px;
	font-weight: bold;
	font-family: $fontLifehackRegular;
	font-size: 30px;
	font-weight: 400;
	color: $header-text-color;
	cursor: pointer;
}

.button__submit:hover {
	transition: 0.4s;
	box-shadow: 7px 5px
		56px -14px white;
}

.tatar__ornament {
	width: 100%;
	position: absolute;
	margin-top: 2%;
}

.link__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	font-size: 25px;
}

.link {
	color: rgb(
		224,
		194,
		27
	);
	text-decoration: none;
}
.link:hover {
	transform: scale(
		1.05
	);
	transition: all
		0.3s ease-in-out;
	text-decoration: none;
}
