@import "../../style/vars";

.container {
	width: 90%;
	max-width: 800px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px
		5px
		rgb(83, 83, 80);
	border-radius: 10px;
	color: $header-text-color;
	position: relative;
	background-color: $header-background-color;
	font-family: $fontLifehackRegular;
}
.tatar__ornament {
	width: 100%;
	position: absolute;
	margin-top: 2%;
}
.header {
	margin-top: 20%;
	margin-bottom: 10px;
	font-family: $fontLifehackRegular;
	align-self: center;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 40px;
}
.form {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	@media (max-width: 700px) {
		width: 90%;
	}
}

.input__wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 20px 20px;
	grid-template-areas:
		"error error"
		"email input"
		"email input";
	gap: 10px;
	margin-bottom: 10px;
	padding-left: 2%;
	font-family: $fontLifehackRegular;
}

.label {
	grid-area: email;
	font-size: 23px;
	text-align: left;
}

.input {
	grid-area: input;
	border: 1px solid
		#ccc;
	width: 97%;
	height: 30px;
	border: none;
	border-radius: 10px;
	outline: none;
	font-family: $fontLifehackRegular;
	font-size: 25px;
	padding-left: 10px;
}
.input__empty {
	height: 30px;
	border-radius: 10px;
	width: 97%;
	border: 1px solid
		$header-text-color;
	outline: none;
	padding-left: 10px;
	font-family: $fontLifehackRegular;
	font-size: 25px;

	&::placeholder {
		font-family: $fontLifehackRegular;
		font-size: 25px;
	}
}
.error {
	grid-area: error;
	margin-left: 22%;
	font-size: clamp(
		18px,
		3vw,
		20px
	);
	color: red;
	white-space: nowrap;
}
.button__container {
	display: flex;
	flex-direction: row-reverse;
	gap: 5%;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	margin-top: 20px;
}

.button__submit {
	width: 100%;
	max-width: 200px;
	height: 45px;
	margin-top: 10px;
	background-color: transparent;
	border: 2px solid
		$header-text-color;
	border-radius: 10px;
	font-weight: bold;
	font-family: $fontLifehackRegular;
	font-size: clamp(
		25px,
		3vw,
		30px
	);
	font-weight: 400;
	color: $header-text-color;
	cursor: pointer;
}
.button__submit:hover {
	transition: 0.4s;
	box-shadow: 7px 5px
		56px -14px white;
}
.button__back {
	width: 100%;
	max-width: 200px;
	height: 45px;
	margin-top: 10px;
	background-color: transparent;
	border: 2px solid
		$header-text-color;
	border-color: $fontLifehackRegular;
	border-radius: 10px;
	font-weight: bold;
	font-family: $fontLifehackRegular;
	font-size: clamp(
		25px,
		3vw,
		30px
	);
	font-weight: 400;
	color: $header-text-color;
	cursor: pointer;
}
.button__back:hover {
	transition: 0.4s;
	box-shadow: 7px 5px
		56px -14px white;
}
