@import "../../style/vars";

.container {
	width: 90%;
	max-width: 800px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 5px rgb(83, 83, 80);
	border-radius: 10px;
	color: $header-text-color;
	position: relative;
	background-color: $header-background-color;
	font-family: $fontLifehackRegular;
	padding: 0 5%;
}
.tatar__ornament {
	width: 100%;
	position: absolute;
	margin-top: 2%;
}
.header {
	margin-top: 20%;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 40px;
}
.form {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 40px;
}
.input__wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 20px;
	grid-template-areas:
		"error error"
		"email input"
		"email input";
}

.label {
	grid-area: email;
	font-size: 23px;
}

.input {
	grid-area: input;
	border: 1px solid #ccc;
	height: 30px;
	border: none;
	border-radius: 10px;
	outline: none;
	font-family: $fontLifehackRegular;
	font-size: 25px;
	padding-left: 10px;
}
.input__empty {
	height: 30px;
	border-radius: 10px;
	border: 1px solid $header-text-color;
	outline: none;
	padding-left: 10px;
	font-family: $fontLifehackRegular;
	font-size: 25px;

	&::placeholder {
		font-family: $fontLifehackRegular;
		font-size: 25px;
	}
}

.error {
	grid-area: error;
	font-size: 16px;
	color: red;
	white-space: nowrap;
	font-family: $fontLifehackRegular;
	margin-left: 18%;
}

.button__container {
	display: flex;
	flex-direction: row-reverse;
	gap: 5%;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	margin: 20px 0 5% 0;
}

.button__submit {
	width: 100%;
	max-width: 200px;
	height: 45px;
	margin-top: 10px;
	background-color: transparent;
	border: 2px solid $header-text-color;
	border-radius: 10px;
	font-weight: bold;
	font-family: $fontLifehackRegular;
	font-size: clamp(25px, 3vw, 30px);
	font-weight: 400;
	color: $header-text-color;
	cursor: pointer;
}

.button__submit:hover {
	transition: 0.4s;
	box-shadow: 7px 5px 56px -14px white;
}

.button__back {
	width: 100%;
	max-width: 200px;
	height: 45px;
	margin-top: 10px;
	background-color: transparent;
	border: 2px solid $header-text-color;
	border-color: $fontLifehackRegular;
	border-radius: 10px;
	font-weight: bold;
	font-family: $fontLifehackRegular;
	font-size: clamp(25px, 3vw, 30px);
	font-weight: 400;
	color: $header-text-color;
	cursor: pointer;
}
.button__back:hover {
	transition: 0.4s;
	box-shadow: 7px 5px 56px -14px white;
}

.link__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
}
.link {
	color: rgb(224, 194, 27);
	text-decoration: none;
}
.link:hover {
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}
