@import "../../style/vars.scss";
.modal__window {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: start;
  background-color: rgba(31, 92, 87, 0.6);
  z-index: 100;
  overflow: hidden;
  animation: appearance 0.3s ease-in-out;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal__container {
  max-width: 1800px;
  width: auto;
  padding: 20px 70px;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $header-background-color;
  z-index: 2;
  overflow: auto;
  color: $header-text-color;
  border-radius: 10px;
  font-family: $fontLifehackRegular;
  @media screen and (max-width: 530px) {
    padding: 20px;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  overflow-x: hidden;
}
.feedback__wrapper {
  width: auto;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: center;
  @media screen and (max-width: 530px) {
    grid-template-columns: 30% 70%;
  }
}
.feedback__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.feedback__image {
  animation: appearance 1s ease-in-out;
}
.button__feedback {
  width: 100%;
  font-family: $fontLifehackRegular;
  font-size: 20px;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 20px;
  background-color: $header-text-color;
  color: $header-background-color;
  border: none;
}
.header {
  align-self: center;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}
.header__feedback {
  align-self: center;
  width: 100%;
  font-weight: 400;
  font-size: 30px;
}
.paragragh__feedback {
  max-width: 400px;
  margin-top: 0;
  font-size: 24px;
  @media screen and (max-width: 530px) {
    font-size: 20px;
  }
}
.container__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  font-family: $fontLifehackRegular;
  font-size: 24px;
}
.input__wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5px;
  align-items: center;
}
.label {
  min-width: 150px;
  justify-self: end;
  grid-area: 1/1/2/2;
  position: relative;
  text-align: end;
  @media screen and (max-width: 530px) {
    font-size: 20px;
  }
}
.label::after {
  content: "*";
  position: absolute;
  font-size: 60%;
  font-weight: lighter;
}
.container__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.container__input {
  position: relative;
}
.input {
  grid-area: 1/2/2/3;
  width: 100%;
  min-width: 250px;
  max-width: 375px;
  height: 30px;
  padding-left: 5%;
  border: none;
  border-radius: 10px;
  background-color: $header-text-color;
  font-family: $fontLifehackRegular;
  outline: none;
  font-size: 24px;
  color: $header-background-color;
  @media screen and (max-width: 530px) {
    min-width: 100%;
  }
}
.input::placeholder {
  color: $header-background-color;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $header-background-color;
  background-color: $header-text-color;
  transition: background-color 5000s ease-in-out 0s;
}
.input__empty {
  grid-area: 1/2/2/3;
  width: 100%;
  min-width: 250px;
  max-width: 375px;
  height: 30px;
  padding-left: 5%;
  border-radius: 10px;
  border: 2px solid rgb(151, 51, 51);
  color: $header-background-color;
  outline: none;
  background-color:  $header-text-color;
  font-family: $fontLifehackRegular;
  font-size: 20px;
  @media screen and (max-width: 530px) {
    min-width: 100%;
  }
}
.button__cancel {
  width: 100%;
  max-width: 200px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: rgb(216, 90, 90);
  font-weight: bold;
  font-family: $fontLifehackRegular;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}
.button__cancel:hover {
  scale: 1.1;
  transition: all 0.5s;
}
.button__submit {
  width: 100%;
  max-width: 200px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-family: $fontLifehackRegular;
  font-size: 30px;
  font-weight: 400;
  color: $header-text-color;
  cursor: pointer;
}
.button__submit:hover {
  scale: 1.1;
  transition: all 0.5s ease-in-out;
}
.error {
  grid-area: 2/2/3/3;
  margin: 0;
  font-size: 15px;
  color: $header-text-color;;
  font-weight: 500;
}
.container__agreement {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  gap: 10px;
}
.checkbox {
  grid-area: 1/1/2/2;
  justify-self: flex-end;
}
.agreement {
  max-width: 375px;
  grid-area: 1/2/2/3;
  position: relative;
  font-size: 16px;
}
.agreement::after {
  content: "*";
  position: absolute;
  font-size: 60%;
  font-weight: lighter;
}
.checkbox__hidden {
  grid-area: 1/1/2/2;
  opacity: 0;
}
.checked {
  grid-area: 1/1/2/2;
  justify-self: flex-end;
  height: 30px;
  width: 30px;
  animation: checked 1s;
  @media screen and (max-width: 428px) {
    height: 20px;
    width: 20px;
  }
}
@keyframes checked {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.feedback__image {
  width: 80%;
  opacity: 0;
  animation: checked 2s forwards;
} 