.container__opened {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(211, 220, 211);
  padding-bottom: 10px;
}
.container__closed {
  display: none;
}
.header {
  align-self: center;
  width: 80%;
  text-align: center;
}
.paragragh {
  width: 80%;
  margin-top: 0;
}
.container__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: 30px auto;
}
.container__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.container__input {
  position: relative;
}
.input {
  width: 95%;
  height: 35px;
  //   border-radius: 13px;
  padding-left: 5%;
  border: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: white;
  outline: none;
}
.input:focus {
  border-bottom: 1.5px solid rgb(48, 67, 48);
  animation: border 0.5s;
}
@keyframes border {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.button__cancel {
  width: 100%;
  max-width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(142, 71, 71);
  border: none;
  color: white;
}
.button__cancel:hover {
  background-color: transparent;
  color: rgb(142, 71, 71);
  transition: background-color 0.5s;
}
.button__submit {
  width: 100%;
  max-width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(48, 67, 48);
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.button__submit:hover {
  background-color: transparent;
  color: rgb(48, 67, 48);
  border-bottom: 1.5px solid rgb(48, 67, 48);
  transition: all 0.5s ease-in-out;
}
.error {
  margin: 0;
  font-size: 12px;
  color: rgb(142, 71, 71);
}
.container__agreement {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.checkbox {
  position: relative;
}
.checkbox__hidden {
  opacity: 0;
}
.checked {
  position: absolute;
  height: 20px;
  width: 20px;
  animation: checked 1.5s;
}
@keyframes checked {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
