@import "../../../style/vars.scss";

.active__modal {
    width: 100vw;
    height: auto;
    display: flex;
    margin: 30px auto;
}

.carousel__modal {
  width: 100vw;
  @media screen and (max-width: 540px) {
    padding-bottom: 50px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;

  @media screen and (max-width: 540px) {
    padding-top: 15px;
  }
}

.gallery__content {
  background-position: center;
  width: 80vw;
  height: 40vh;
  margin: 45px auto;
  overflow: hidden;

  @media (min-width: 560px) and (max-width: 768px) {
    height: 50vh;
    margin: 40px auto;
  }

  @media (max-width: 560px) {
    height: 48vh;
    margin: 35px auto;
  }

  @media (max-width: 505px) {
    height: 46vh;
    margin: 30px auto;
  }

  @media (max-width: 459px) {
    height: 44vh;
    margin: 25px auto;
  }

  @media (max-width: 395px) {
    height: 42vh;
    margin: 20px auto;
  }
}

.close__button {
  width: 60px;
  margin: 30px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: $header-background-color;
  font-size: 15px;
  background: $body-background-color;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 30px $header-background-color;
    cursor: pointer;
  }

  @media (max-width: 560px) {
    font-size: 14px;
  }

  @media (max-width: 505px) {
    font-size: 13px;
  }

  @media (max-width: 459px) {
    font-size: 12px;
  }

  @media (max-width: 395px) {
    font-size: 11px;
  }
}