@import '../../../style/vars.scss';

.active__modal{
    height: 100vh;
    width: 100vw;
    @media screen and (max-width: 540px){
        height: 50vh;
     }

}
.carousel__modal{
    border-radius: 3px;
    background-color: rgba(41, 40, 40, 0.8);
    width: 100vw;
    height: 100vh;
   
    @media screen and (max-width: 540px){
        height: 50vh;
        padding-bottom: 10px;
     }
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 30px;

    @media screen and (max-width: 540px){
        height: 50%;
        padding-top: 10px;
    
    }

   
  }
  .gallery__content {
    background-position: center;
    padding: 10px;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
   
         
  }

  .close__button{
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    color: $footer-text-color-green;
    font-size: 15px;
    font-weight: bolder;
    background: $body-background-color;
    border-radius: 2px;
    border: none;
   
    }