.partners {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  
  .cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
 
  }
  