.banner{
    margin: 30px;
    border: 2px solid black;
    width: 40vw;
}
.banner_img{
    width: 100%;
    height: auto;
    background-color: rgb(143, 139, 133);  
}
.img{
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner_text{
    width: 100%;
    padding: 10px;
}