@use './vars.scss' as vars;
@import url('../components/Footer/Footer.module.scss');

@font-face {
    font-family: vars.$fontLifehackRegular;
    src: url('../assets/fonts/Lifehack Sans Regular.ttf') format('truetype');
}

* {
    margin: 0;
}