@font-face {
    font-family: "Mono";
    src: url('../assets/fonts/LXGWWenKaiMonoTC-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'SansMono';
    src: url('../assets/fonts/SansMono.ttf') format('ttf');
}

