@import './vars.scss';
@font-face {
    font-family: 'Lifehack Sans Regular';
    src: url('../assets/fonts/Lifehack\ Sans\ Regular.ttf') format('truetype');
}

* {
    margin: 0;

}

body {
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}