$font: "Mono";

$header-background-color: #39a4a6;
$header-text-color: #fff;
$body-background-color: #f5e9e1; 

$header-font-size: 20px;

$fontLifehackRegular: "fontLifehackRegular";

$footer-background-color: linear-gradient(to top, #0ba360 0%, #3cba92 100%);

$footer-yellow-color: linear-gradient(0deg, rgba(195,190,34,1) 0%, rgba(224,203,121,1) 100%);

$footer-text-color-white: #faf0df;
$footer-text-color-green: #3b9d6c;
