@import '../../style/vars.scss';

.footer {
    color: $header-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    bottom: 0;
    width: 100%;
    font-family: $fontLifehackRegular;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__container {
    background-color: $header-background-color;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.pattern {
    position: absolute;
    width: 60px;
  }

  .pattern-left {
    left: 30px;
    transform: rotate(-90deg);

    @media screen and (max-width: 1140px) {
        left: 10px;
    }

    @media screen and (max-width: 560px) {
        left: 1px;
    }
  }

  .pattern-right {
    right: 30px;
    transform: rotate(90deg);

    @media screen and (max-width: 1140px) {
        right: 10px;
    }
    @media screen and (max-width: 560px) {
        right: 1px;
    }
  }

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & a {
        text-decoration: none;
        color: $header-text-color;
    }
}

.footer__title {
    padding: 0 60px;
    text-align: center;
}

.contacts__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media screen and (max-width: 720px) {
        flex-direction: column;
        gap: 5px;
        padding: 0 30px;
    }
    }

.logos__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media screen and (max-width: 720px) {
        gap: 10px;
    }
}

.contacts__phone, .contacts__mail, .contacts__address {
    position: relative;
    padding-left: 20px;
}


.contacts__phone:hover, .contacts__mail:hover {
    text-decoration: underline;
}

.contacts__phone::before, .contacts__mail::before, .contacts__address::before {
    content: "";
    display: inline-block;
    background-image: url('../../assets/icon/phone.svg');
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 51%;
    transform: translateY(-50%);
}

.contacts__mail::before {
    background-image: url('../../assets/icon/mailto.svg');
  }

  .contacts__address::before {
    background-image: url('../../assets/icon/location.svg');
  }

  .contacts__address {
        @media screen and (max-width: 370px) {
           font-size: 15px;
        }
  }

.contacts__vkontakte {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/vkontakte.svg');
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s;
    }

    &:hover::before {
      transform: scale(1.2);
    }
}
