@import '../../style/vars.scss';

.footer {
    background-image: $footer-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: $fontLifehackRegular;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;

    @media screen and (max-width: 1060px) {
        justify-content: center;
        gap: 30px;
        padding: 0 20px;
    }

    @media screen and (max-width: 875px) {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
}

.footer__document {
    background: $footer-yellow-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s ease;
    position: relative;
    width: 44px;
    height: 32px;
    padding: 2px;
  
    & a {
      color: $footer-text-color-green;
      font-size: 14px;
      text-decoration: none;
      font-weight: bolder;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .footer__document:hover {
    transform: scale(1.2);
  }  

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
        text-align: center;

        margin: 5px;
        color: $footer-text-color-white;

        @media screen and (max-width: 1060px) {
            display: inline;
        }
    }

    & p > a {
        text-decoration: none;
        color: $footer-text-color-white;
    }
}

.contacts__wrapper {
    display: flex;
}

.contacts__logos {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    @media screen and (max-width: 875px) {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

.contacts__phone, .contacts__mail, .contacts__address {
    position: relative;
    padding-left: 20px;
}


.contacts__phone:hover, .contacts__mail:hover {
    text-decoration: underline;
}

.contacts__phone::before, .contacts__mail::before, .contacts__address::before {
    content: "";
    display: inline-block;
    background-image: url('../../assets/icon/phone.svg');
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 51%;
    transform: translateY(-50%);
}

.contacts__mail::before {
    background-image: url('../../assets/icon/mailto.svg');
  }

  .contacts__address::before {
    background-image: url('../../assets/icon/location.svg');
  }

  .contacts__address {
        @media screen and (max-width: 351px) {
           font-size: 12px;
        }

  }

.contacts__vkontakte {
    width: 20px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}