.recipe, .recipe_kostybai {
    max-width: 100%;
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
}

.recipe_kostybai {
    font-size: 14px;
}

@media (max-width: 375px) {
    .recipe, .recipe_kostybai {
        font-size: 10px;
    }
}