@import "../../style/vars";

.news_board{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  }

  @media screen and (max-width:650px){
      .news_board{
          flex-direction: column;
          align-items: center;

      }
      
  }