.block__collection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  font-family: "Lifehack Sans Regular";
}
.block__collection .back__button {
  position: absolute;
  top: 2%;
  align-self: flex-start;
}
.block__collection .back__button_collection {
  padding: 5px 10px;
  text-decoration: none;
  color: #39a4a6;
  font-size: 20px;
  font-weight: 700;
  background: #f5e9e1;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease;
}
.block__collection .back__button_collection:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 30px #39a4a6;
}
.block__collection .title {
  color: #39a4a6;
  font-size: 48px;
  font-weight: 700;
}
.block__collection .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  font-size: 24px;
  font-weight: 400;
}
.block__collection .text__descr {
  text-indent: 20px;
}
.block__collection .text__descr_link {
  color: black;
}
.block__collection .btn {
  display: flex;
  align-items: center;
  border: none;
}
.block__collection .btn__more {
  padding: 10px 30px;
  background-color: #39a4a6;
  color: #f5e9e1;
  text-decoration: none;
  border-radius: 9px;
  font-size: 24px;
}
.block__collection .btn:hover {
  box-shadow: 7px 5px 56px -14px #39a4a6;
}
.block__collection .btn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #39a4a6;
}
.block__collection .btn .pulse {
  animation: pulse 1.5s infinite;
}
.block__collection .gallery__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.block__collection .gallery__photo_title {
  color: #39a4a6;
  font-size: 32px;
  font-weight: 700;
}
.block__collection .gallery__photo_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}
.block__collection .gallery__photo_items .photo {
  max-width: 100%;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.block__collection .gallery__photo_items .photo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 30px #39a4a6;
}
.block__collection .fullscreen__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.block__collection .fullscreen__overlay_photo {
  max-width: 100%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.block__collection .fullscreen__overlay .close__button {
  position: absolute;
  top: 5%;
  right: 8%;
  width: 40px;
  height: 40px;
  background: #f5e9e1;
  border: 1px solid #f5e9e1;
  border-radius: 9px;
  color: #39a4a6;
  font-size: 32px;
  cursor: pointer;
}
.block__collection .fullscreen__overlay .close__button:hover {
  background: #39a4a6;
  color: #f5e9e1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1920px) {
  .block__collection .title {
    font-size: 42px;
  }
  .block__collection .text {
    font-size: 22px;
  }
  .block__collection .btn__more {
    font-size: 22px;
  }
  .block__collection .gallery__photo_title {
    font-size: 28px;
  }
}
@media (max-width: 1440px) {
  .block__collection {
    padding: 30px 20px;
  }
  .block__collection .title {
    font-size: 36px;
  }
  .block__collection .text {
    font-size: 20px;
  }
  .block__collection .btn__more {
    font-size: 20px;
  }
  .block__collection .gallery__photo_title {
    font-size: 26px;
  }
  .block__collection .fullscreen__overlay {
    padding: 0 10px;
  }
  .block__collection .fullscreen__overlay .close__button {
    top: 3%;
    right: 7%;
    width: 35px;
    height: 35px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .block__collection .back__button {
    top: 1.5%;
  }
  .block__collection .title {
    font-size: 32px;
  }
  .block__collection .text {
    font-size: 20px;
    max-width: 90%;
  }
  .block__collection .btn__more {
    font-size: 20px;
  }
  .block__collection .gallery__photo_title {
    font-size: 28px;
  }
  .block__collection .gallery__photo_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .block__collection .fullscreen__overlay {
    padding: 0 10px;
  }
  .block__collection .fullscreen__overlay .close__button {
    top: 6.5%;
    right: 3%;
    width: 30px;
    height: 30px;
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .block__collection .back__button {
    top: 0.9%;
  }
  .block__collection .title {
    font-size: 28px;
  }
  .block__collection .text {
    font-size: 20px;
    max-width: 90%;
  }
  .block__collection .btn__more {
    font-size: 20px;
  }
  .block__collection .gallery__photo_title {
    font-size: 28px;
  }
  .block__collection .gallery__photo_items {
    grid-template-columns: 1fr;
  }
  .block__collection .fullscreen__overlay {
    padding: 0 10px;
  }
  .block__collection .fullscreen__overlay .close__button {
    top: 3%;
    right: 5%;
    width: 25px;
    height: 25px;
    font-size: 24px;
  }
}/*# sourceMappingURL=SabantuyCollection.module.css.map */