@import "../../../style/vars";

.block__collection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  font-family: $fontLifehackRegular;

  .back__button {
    position: absolute;
    top: 2%;
    align-self: flex-start;

    &_collection {
      padding: 5px 10px;
      text-decoration: none;
      color: $header-background-color;
      font-size: 20px;
      font-weight: 700;
      background: $body-background-color;
      border-radius: 9px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background 0.5s ease;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 30px $header-background-color;
      }
    }
  }

  .title {
    color: $header-background-color;
    font-size: 48px;
    font-weight: 700;
  }
  
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    font-size: 24px;
    font-weight: 400;

    &__descr{
      text-indent: 20px;

      &_link{
        color: black;
      }
    }
  }

  .btn{
    display: flex;
    align-items: center;
    border: none;

    &__more {
      padding: 10px 30px;
      background-color: $header-background-color;
      color: $body-background-color;
      text-decoration: none;
      border-radius: 9px;
      font-size: 24px;
    }

    &:hover{
      box-shadow: 7px 5px 56px -14px $header-background-color;
    }

    &:active{
      transform: scale(0.97);
      box-shadow: 7px 5px 56px -10px $header-background-color;
    }

    .pulse{
      animation: pulse 1.5s infinite;
    }
  }

  .gallery__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &_title{
      color: $header-background-color;
      font-size: 32px;
      font-weight: 700;
    }

    &_items{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      align-items: center;

      .photo {
        max-width: 100%;
        border-radius: 9px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 4px 30px $header-background-color;
        }
      }
    }
  }

  .fullscreen__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &_photo{
      max-width: 100%;
      max-height: 90%;
      object-fit: contain;
      border-radius: 10px;
    }

    .close__button {
      position: absolute;
      top: 5%;
      right: 8%;
      width: 40px;
      height: 40px;
      background: $body-background-color;
      border: 1px solid $body-background-color;
      border-radius: 9px;
      color: $header-background-color;
      font-size: 32px;
      cursor: pointer;

      &:hover{
        background: $header-background-color;
        color: $body-background-color;
    }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1920px) {
  .block__collection {
    .title {
      font-size: 42px;
    }
    .text {
      font-size: 22px;
    }
    .btn__more {
      font-size: 22px;
    }
    .gallery__photo_title {
      font-size: 28px;
    }
  }
}

@media (max-width: 1440px) {
  .block__collection {
    padding: 30px 20px;
    .title {
      font-size: 36px;
    }
    .text {
      font-size: 20px;
    }
    .btn__more {
      font-size: 20px;
    }
    .gallery__photo_title {
      font-size: 26px;
    }
    .fullscreen__overlay {
      padding: 0 10px;
      .close__button {
        top: 3%;
        right: 7%;
        width: 35px;
        height: 35px;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  .block__collection {
    .back__button{
      top: 1.5%;
    }
    .title {
      font-size: 32px;
    }
    .text {
      font-size: 20px;
      max-width: 90%;
    }
    .btn__more {
      font-size: 20px;
    }
    .gallery__photo_title {
      font-size: 28px;
    }
    .gallery__photo_items {
      grid-template-columns: repeat(2, 1fr);
    }
    .fullscreen__overlay {
      padding: 0 10px;
      .close__button {
        top: 6.5%;
        right: 3%;
        width: 30px;
        height: 30px;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 375px) {
  .block__collection {
    .back__button{
      top: .9%;
    }
    .title {
      font-size: 28px;
    }
    .text {
      font-size: 20px;
      max-width: 90%;
    }
    .btn__more {
      font-size: 20px;
    }
    .gallery__photo_title {
      font-size: 28px;
    }
    .gallery__photo_items {
      grid-template-columns: 1fr;
    }
    .fullscreen__overlay {
      padding: 0 10px;
      .close__button {
        top: 3%;
        right: 5%;
        width: 25px;
        height: 25px;
        font-size: 24px;
      }
    }
  }
}
