@import '../../../style/vars';

.tatar_container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  font-family: $fontLifehackRegular;
}

.back_button_culture {
  display: inline-block;
  width: 50px;
  text-decoration: none;
  text-align: center;
  color: $header-background-color;
  font-size: 24px;
  font-weight: bolder;
  background: $body-background-color;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.back_button_culture:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 30px  $header-background-color;
}

.tatar_culture {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.tatar_h1 {
  color: $header-background-color;
  text-align: center;
}

.tatar_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tatar_image_wrapper {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.tatar_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tatar_image:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 30px  $header-background-color;
}

.expanded_view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  cursor: pointer;
}

.expanded_image {
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.read_more {
  text-align: right;
  padding-top: 20px;
  font-size: 24px;
}

.read_more a {
  color: $header-background-color;
  text-decoration: none;
  font-weight: bolder;
}

.read_more a:hover {
  color: $header-background-color;
}

@media (max-width: 1440px) {
  .tatar_container {
    max-width: 800px;
  }

  .tatar_images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .tatar_container {
    max-width: 600px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .tatar_images {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .tatar_container {
    padding-top: 10px;
    max-width: 90%;
  }
}
