@import "../../../style/vars";

h1 {
  color: rgb(6, 100, 6);
  text-align: center;
  font-size: 50px;
  font-family: $fontLifehackRegular;
  font-weight: 700;
}

.block__currentyear {
  margin: 0 auto;
  text-align: center;
}

.gallery__current {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo__current {
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
  margin: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}

.photo__current:hover {
  transform: scale(1.1);
}

.fullscreen__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen__photo {
  max-width: 90%;
  max-height: 90%;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 45px;
  }

  .photo__current {
    max-width: 350px;
    max-height: 220px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  .block__currentyear {
    max-width: 90%;
  }

  .photo__current {
    max-width: 300px;
    max-height: 190px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 30px;
  }

  .photo__current {
    max-width: 100%;
    max-height: auto;
    margin: 10px 0;
  }
}
