@import '../../style/vars.scss';

.eventsPage {
    margin: 0 auto;
    padding-top: 30px;
    background-color: #F4EAE1;
    font-family: $fontLifehackRegular;
}

.eventsPageMobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    // overflow-y: scroll;

}

.h1 {
    text-align: center;
    padding: 10px;
}

.calendar {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobileCalendar {
    font-family: $fontLifehackRegular;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $footer-text-color-green;
    overflow: hidden;
    font-family: $fontLifehackRegular;
    border-radius: 3px;
    text-align: center;
    line-height: 100%;
}

// .color {
//     background-color: $footer-text-color-green;
//     background: $footer-text-color-green;
//     height: 100%;
// }



.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}