@import '../../style/vars.scss';

.eventsPage {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $body-background-color;
    font-family: $fontLifehackRegular;
    height: 100%;
}

.h1_events {
    text-align: center;
    padding-bottom: 20px;
}

.calendar {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

.events {
    margin: 0;
    padding: 0;
    background-color: $footer-text-color-green;
    font-family: $fontLifehackRegular;
    border-radius: 3px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 100%;
    min-height: 80px;
    text-wrap: balance;
    overflow: hidden;
}

@media screen and (max-width: 1920px) {
    .eventsPageMobile {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (max-width: 940px) {
    .eventsPageMobile {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 769px) {
    .eventsPageMobile {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 640px) {
    .eventsPageMobile {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 540px) {
    .eventsPageMobile {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 480px) {
    .eventsPageMobile {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.mobileForm {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $footer-text-color-green;
    text-align: center;
    align-items: center;
    min-height: 40px;
}

.mobile_events {
    width: 60%;
    text-align: left;
}

.button_events {
    background-color: $header-background-color;
    border-radius: 3px;
    border-color: $header-background-color;
    font-family: $fontLifehackRegular;
    max-width: 50px;
    max-height: 35px;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}