@import '../../style/vars.scss';

.modal {
    height: 100%;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.active {
    background-color: rgba(13, 103, 16, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    background-color: $body-background-color;
    border-radius: 12px;
    width: 80%;
    height: 80%;
    overflow: scroll;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close__btn {
    width: 40px;
    padding: 0;
    border: none;
    background-color: rgba(13, 103, 16, 0.6);
    display: flex;
    margin-right: 5px;
}

.close__img {
    width: 100%;
}

.img__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    margin: 20px 0;
}

.grid__item {
    width: 100%;
    height: 100%;
}

.grid__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text__container {
    grid-column: 1 / 5;
    grid-row: 2 / 6;
    padding: 20px;
}

.modal__info {
    font-size: 20px;
}

.modal__title {
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    margin-left: 15px;
}

@media (max-width: 1024px) {
    .modal__info {
        width: 100%;
    }

    .grid__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .grid__item:first-child {
        grid-column: span 2;
    }

    .text__container {
        grid-column: 1 / 3;
        grid-row: auto;
    }

    .grid__item {
        grid-column: span 1;
    }
}