.culture {
  margin-top: 20px;
  text-align: center;
}

.blocks_container {
  display: grid;
  max-width: 1000px;
  justify-content: center;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 400px 400px;
  margin: 0 auto;
  font-size: larger;
  font-weight: bolder;
}

.block,
.block5,
.block2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 10px;
  font-size: 14px;
  background-color: lightgray;
  border: 1px solid black;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.block5 {
  grid-column: 1 / 3;
}

.block2 {
  grid-column-start: 1;
  grid-row-end: 3;
}

img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  transition: transform 0.3s, filter 0.3s;
}

h2 {
  position: absolute;
  padding: 5px;
  color: white;
  border-radius: 5px;
  text-shadow: 2px 2px 20px rgba(243, 245, 242, 0.2);
}

.block:hover img,
.block5:hover img,
.block2:hover img {
  transform: scale(1.05);
}

.blocks_container:hover > .block:not(:hover) img,
.blocks_container:hover > .block5:not(:hover) img,
.blocks_container:hover > .block2:not(:hover) img {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}


@media (max-width: 1440px) {
  .blocks_container {
    grid-template-columns: 1fr 300px 1fr;
  }
}

@media (max-width: 768px) {
  .blocks_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .block,
  .block5,
  .block2 {
    height: 300px;
  }

  .block5 {
    grid-column: auto;
  }

  .block2 {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (max-width: 375px) {
  .blocks_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .block,
  .block5,
  .block2 {
    height: 150px;
  }

  .block5 {
    grid-column: auto;
  }

  .block2 {
    grid-column: auto;
    grid-row: auto;
  }
}
