@import '../../style/vars.scss';
.modal {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  z-index: 100;
  overflow: auto;
  animation: appearance 0.3s ease-in-out;
}
.close__modal{
  display: none;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #39a4a5;
  font-family: $fontLifehackRegular;
  border-radius: 10px;
  padding: 5vw 10vw;
  margin: auto;
}
.title {
  font-size: 2rem;
  padding-bottom: 20px;
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.label_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.input_name {
  display: flex;
  font-size: 2vw;
}
.input {
  min-width: 250px;
  max-width: 375px;
  outline: none;
  font-size: 1.8vw;
  color: #727071;
  font-family: $fontLifehackRegular;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}
.errors {
  font-size: 1.6vw;
  color: #181718;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.submit,
.cancel {
  border: 2px solid white;
  border-radius: 10px;
  font-family: $fontLifehackRegular;
  background-color: #39a4a5;
  font-size: 2.5vw;
  padding: 5px;
  margin-top: 10px;
}
.submit:valid,
.cancel {
  color: white;
}
